{% extends 'base.html.twig' %}

{% block body %}
    <h1>Biografia</h1>
    <h4>Sóc un noi de Badalona amant de les noves tecnologies i amb curiositats per aprendre. En aquesta pàgina podràs
    trobar els projectes fets fins ara. Sóc estudiant d'enginyeria informàtica en la Universitat de Barcelona. </h4>
{% endblock %}

