{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-sm-8">
        <h1>Biografia</h1>
        <h4>
            <br>Sóc un noi de Badalona amant de les noves tecnologies i amb moltíssimes ganes d'aprendre. En aquesta
            pàgina podràs trobar els projectes fets fins ara i els meus temes d'interès. Em considero un noi amb inquietuds
            i molts dubtes. Sóc estudiant a punt d'acabar enginyeria informàtica a la Universitat de Barcelona.<br>

            <br>Aquesta web personal és tot un repte personal per plasmar les meves idees. Les TICs són la meva passió
            però en particular les aplicacions mòbils útils pel dia a dia. La robòtica és un dels meus hobbies favorits.<br>

            <br>M'encanta relacionar-me amb la gent i sentir a dir que opinen sobre política, música i els seus propis interessos.<br>

            <br>Els animals en general i els gossos en particular per mi signifiquen molt. No entenc la vida sense un gos al meu costat.<br>
        </h4>
    </div>
    <div class=".col-sm-4" align="center">
        <br>
        <table>
            <tr align="center">
                <td><a href="https://www.github.com/ruben998"><img src="{{ asset('bundles/framework/images/github_icon.png') }}"   width="50px" height="50px" class="icon"></a> </td>
            </tr>

            <tr>
                <td><a href="https://www.linkedin.com/in/ruben998"><img src="{{ asset('bundles/framework/images/linkedin_icon.svg') }}" width="50px" height="50px" class="icon"></a></td>
            </tr>

            <tr>
                <td><a href="https://www.twitter.com/ruben998"><img src="{{ asset('bundles/framework/images/twitter_icon.svg') }}"  width="55px" height="55px" class="icon"></a></td>
            </tr>
        </table>

    </div>
{% endblock %}

