{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron div-jumbotron" align="center">
        <img style="margin-top: 0.65em;" src="{{ asset('bundles/framework/images/ruben.png') }}" align="right" >
        <h1 class="letter">RUBÉN &nbsp; NIETO</h1>
        <p>Página personal</p>
    </div>
    <div align="center" class="col-md-4">
        <a href="{{ path('biografia') }}"><p class="div-btn">Biografia</p></a>
    </div>
    <div align="center" class="col-md-4">
        <a href="{{ path('projects_index') }}"><p class="div-btn">Proyectos</p></a>
    </div>
    <div align="center" class="col-md-4">
        <a href="{{ path('contact') }}"><p class="div-btn">Contacto</p></a>
    </div>
{% endblock %}

