{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron div-jumbotron" align="center">
        <h1>R U B É N &nbsp; N I E T O</h1>
        <p>Página personal</p>
    </div>
    <div align="center" class="col-md-4">
        <a href="/bio"><p class="div-btn">Biografia</p></a>
    </div>
    <div align="center" class="col-md-4">
        <a href="/projects"><p class="div-btn">Proyectos</p></a>
    </div>
    <div align="center" class="col-md-4">
        <a href="/contact"><p class="div-btn">Contacto</p></a>
    </div>
{% endblock %}

