.div-main{
    background: rgba(255,255,255,0.3);
    margin-top: 5em;
    margin-bottom: 5em;
    -webkit-border-radius:9px 9px 9px 9px;
    -moz-border-radius:9px 9px 9px 9px;
    border-radius:9px 9px 9px 9px;
}
.div-jumbotron{
    background-size: 100%;
    margin-top: 1em;
    background-image: url('../images/jumbotron.png');
    color: white;
}

.div-btn {
    width: 0;
    height: 0;
    border-right: 100px solid transparent;
    border-top: 100px solid transparent;
    border-left: 100px solid transparent;
    border-bottom: 100px solid #f0ad4e;
    color: white;
    font-size: 250%;
}
.homepage{
    color: white;
}

.div-btn:hover {
    color: black;
    border-bottom: 100px solid white;
}

a:link
{
    text-decoration:none;
}

.letter{
    letter-spacing: 0.3em;
}

.project{
    margin-left: 5.5em;
    margin-top: 3em;
    margin-bottom: 3em;

    width: 20em;
    height: 20em;
    background:rgb(219,156,89);
    -moz-border-radius: 20em;
    -webkit-border-radius: 20em;
    border-radius: 20em;
    color:rgb(50,50,50);
}

.project:hover{
    background:rgba(250,250,250,0.3);
}

.icon{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}