{% extends 'base.html.twig' %}

{% block body %}
    <h1>Project list</h1>


    {% for row in projects|batch(3) %}
        <div class="row" align="center">
            {% for project in row %}
                <a href="{{ path('projects_show', { 'id': project.id }) }}">
                    <div class="col-md-4 project">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <h2>{{ project.name }}</h2>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% endfor %}

{% endblock %}