{% extends 'base.html.twig' %}

{% block body %}
    <h1>Admin Page</h1>
    <ul>
        <li>
            <a href="{{ path('projects_new') }}">Create a new project</a>
        </li>
    </ul>
{% endblock %}

